<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Github Cloner :: Dashboard</title>
	
	<!-- jQuery UI Stylesheets -->
	<link rel="stylesheet" href="/stylesheets/ui.all.css" type="text/css" media="screen" />
	
	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="/sass/compact/site" type="text/css" media="screen" />
	
	<script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.ui.all.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.sparkline.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>Github Cloner</h1>
			<ul class="nav">
				<li>Dashboard</li>
				<li><a href="/repositories">Repositories</a></li>
				<li><a href="/settings">Settings</a></li>
			</ul>
		</div>
		
		<div class="main">
			
		</div>
	</div>
</body>
</html>
